
@{
    ViewBag.Title = "DrStalinMishra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DrStalinMishra</h2>

<section class="wow fadeIn">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-5 text-center md-margin-30px-bottom wow fadeInLeft">
                <img src="~/Images/international/Dr.stalin.JPG" alt="" class="border-radius-6 w-100">
            </div>
            <div class="col-12 col-lg-7 padding-eight-lr text-center text-lg-left lg-padding-nine-right md-padding-15px-lr wow fadeInRight" data-wow-delay="0.2s">
                <span class="text-deep-pink alt-font margin-10px-bottom d-inline-block text-medium" style="font-family: 'Roboto';font-size: 30px;">Dr. Stalin Mishra</span>
                <div class="separator-line-horrizontal-full bg-deep-pink " style="margin-top: 2%; margin-bottom: 7%; width: 47%;height: 2px;"></div>
                <p style="font-size: 16px; font-family: serif; color: black;">I am delighted to introduce International Human Rights Organization (IHRO) to spread awareness & assistance to protect Human Rights, Liberties, Social Justice for all Human beings at National & International Level. IHRO has translated its avowed objectives at the grassroots level through Campaigns, Awareness Camps, conferences, seminars, conventions, cultural programmes etc.. International Human Rights Organization (IHRO) is affiliated to UNITED NATIONS (In Co-operation with United Nations & International Bar Association) has its presence in all states of India and more than 43 Countries.</p>
            </div>
            <p style="font-size: 16px; font-family: serif; color: black;margin-top: 25px; ">The protection and promotion of human rights for everyone is the commitment of IHRO seeks to raise awareness and education of rights, provide protection and support necessary for individuals and develop abilities. IHRO is functioning with commitment to the Noble Cause of Human Rights Protection and Promotion, Justice, Education, Love, Peace, Harmony to all and Friendship, National & International Integration by Exchange of Ideas & Ethos around the World .</p>
            <p style="font-size: 16px; font-family: serif; color: black;">We are strongly connected nationally and internationally with millions of people all around the world including Retired Govt. officials, Former Judges, lawyers ( Supreme Court, High Court, Lower Court, Doctors, Engineers, Chartered Accountants, Academician, Professionals, Journalists, RWA, bureaucrats, Artists ,Students etc IHRO has a large team of volunteers and active members spread across every part of India and more than 45 countries of the world. IHRO centres operating for the cause of spreading human rights awareness in order to break the barriers of class, caste, creed, colour and religion.</p>
            <p style="font-size: 16px; font-family: serif; color: black;">I appeal to all of you to Join IHRO as Volunteer/ member to support the noble cause of Human Rights Protection for Humanity. I believe, by working together in an environment of trust and support, we would be able to achieve more success and fame in the years to come. I Invite you all to Join IHRO to serve the Humanity and make the Mother Earth a Heaven to all for...</p>
        </div>
    </div>
</section>

