
@{
    ViewBag.Title = "internationalTeam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="wow fadeIn bg-light-gray padding-35px-tb page-title-small top-space" style="margin-top: 130px; visibility: visible; animation-name: fadeIn;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-8 col-md-6 text-center text-md-left">
                <!-- start page title -->
                <h1 class="alt-font text-extra-dark-gray font-weight-600 mb-0 text-uppercase">International Team</h1>
                <!-- end page title -->
            </div>
            <div class="col-xl-4 col-md-6 alt-font breadcrumb justify-content-center justify-content-md-end text-small sm-margin-10px-top">
                <!-- start breadcrumb -->
                <ul>
                    <li><a href="/" class="text-dark-gray">Home</a></li>
                </ul>
                <!-- end breadcrumb -->
            </div>
        </div>
    </div>
</section>

<section class="wow fadeIn">
    <div class="container">
        <div class="row">
            <!-- start team item -->
            <div class="col-12 col-lg-2 col-md-12 team-block text-left team-style-1 margin-40px-bottom md-margin-seven-bottom sm-margin-30px-bottom wow fadeInRight">
                <figure>
                    <div class="team-image sm-width-100">
                        <img src="~/Images/international/DrStalinMishra.jpg" alt="">
                        <div class="overlay-content text-center d-flex align-items-end justify-content-center">
                            <div class="icon-social-small padding-twelve-all width-100">
                                <span class="text-white-2 text-small d-inline-block m-0">Directo</span>
                                <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                            </div>
                        </div>
                        <div class="team-overlay bg-extra-dark-gray opacity8"></div>
                    </div>
                    <figcaption>
                        <div class="team-member-position margin-20px-top text-center">
                            <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase"><a href="~/Home/DrNemSinghPremi"> Dr. Stalin Mishra</a></div>

                        </div>
                    </figcaption>
                </figure>
            </div>
            <!-- end team item -->
            <!-- start team item -->
            <div class="col-12 col-lg-2 col-md-12 team-block text-left team-style-1 md-margin-seven-bottom margin-40px-bottom sm-margin-30px-bottom wow fadeInRight" data-wow-delay="0.2s">
                <figure>
                    <div class="team-image sm-width-100">
                        <img src="~/Images/international/1.PNG" alt="">
                        <div class="overlay-content text-center d-flex align-items-end justify-content-center">
                            <div class="icon-social-small padding-twelve-all width-100">
                                <span class="text-white-2 text-small d-inline-block m-0">Ambassador At-Large &President I.H.R.O Bangladesh.</span>
                                <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                            </div>
                        </div>
                        <div class="team-overlay bg-extra-dark-gray opacity8"></div>
                    </div>
                    <figcaption>
                        <div class="team-member-position margin-20px-top text-center">
                            <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase"><a href="">H.E. S M Salim Reza</a></div>

                        </div>
                    </figcaption>
                </figure>
            </div>
            <div class="col-12 col-lg-2 col-md-12 team-block text-left team-style-1 md-margin-seven-bottom margin-40px-bottom sm-margin-30px-bottom wow fadeInRight" data-wow-delay="0.2s">
                <figure>
                    <div class="team-image sm-width-100">
                        <img src="~/Images/international/t15.png" alt="">
                        <div class="overlay-content text-center d-flex align-items-end justify-content-center">
                            <div class="icon-social-small padding-twelve-all width-100">
                                <span class="text-white-2 text-small d-inline-block m-0">Ambassador At-Large for Lebanon & Chairman to All Middle East Countr</span>
                                <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                            </div>
                        </div>
                        <div class="team-overlay bg-extra-dark-gray opacity8"></div>
                    </div>
                    <figcaption>
                        <div class="team-member-position margin-20px-top text-center">
                            <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase"><a href="">H.E. Ambassador At-Large Dr. Ibtissam Ahmad Merhi</a></div>

                        </div>
                    </figcaption>
                </figure>
            </div>
            <!-- end team item -->
            <!-- start team item -->
            <div class="col-12 col-lg-2 col-md-12 team-block text-left team-style-1 margin-40px-bottom sm-margin-30px-bottom wow fadeInRight" data-wow-delay="0.4s">
                <figure>
                    <div class="team-image sm-width-100">
                        <img src="~/Images/international/t16.png" alt="">
                        <div class="overlay-content text-center d-flex align-items-end justify-content-center">
                            <div class="icon-social-small padding-twelve-all width-100">
                                <span class="text-white-2 text-small d-inline-block m-0">Deputy Ambassador I.H.R.O. Lemanon</span>
                                <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                            </div>
                        </div>
                        <div class="team-overlay bg-extra-dark-gray opacity8"></div>
                    </div>
                    <figcaption>
                        <div class="team-member-position margin-20px-top text-center">
                            <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase"><a href="">H.E Raed Mhamad Saboune</a></div>

                        </div>
                    </figcaption>
                </figure>
            </div>
            <!-- end team item -->
            <!-- start team item -->
            <div class="col-12 col-lg-2 col-md-12 team-block text-left team-style-1 margin-40px-bottom sm-margin-30px-bottom wow fadeInRight" data-wow-delay="0.6s">
                <figure>
                    <div class="team-image sm-width-100">
                        <img src="~/Images/international/t17.png" alt="">
                        <div class="overlay-content text-center d-flex align-items-end justify-content-center">
                            <div class="icon-social-small padding-twelve-all width-100">
                                <span class="text-white-2 text-small d-inline-block m-0">Ambassador At-Large for Morocco, and Chairman for all countries of the Arab Maghreb Union</span>
                                <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                            </div>
                        </div>
                        <div class="team-overlay bg-extra-dark-gray opacity8"></div>
                    </div>
                    <figcaption>
                        <div class="team-member-position margin-20px-top text-center">
                            <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase"><a href="">H.E. M'barek Afekouh</a></div>
                        </div>
                    </figcaption>

                </figure>
            </div>
            <!-- end team item -->
            <!-- start team item -->
            <div class="col-12 col-lg-2 col-md-12 team-block text-left team-style-1 margin-40px-bottom sm-margin-30px-bottom wow fadeInRight">
                <figure>
                    <div class="team-image sm-width-100">
                        <img src="~/Images/international/t18.png" alt="">
                        <div class="overlay-content text-center d-flex align-items-end justify-content-center">
                            <div class="icon-social-small padding-twelve-all width-100">
                                <span class="text-white-2 text-small d-inline-block m-0">Ambassador At-Large Tunisia</span>
                                <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                            </div>
                        </div>
                        <div class="team-overlay bg-extra-dark-gray opacity8"></div>
                    </div>
                    <figcaption>
                        <div class="team-member-position margin-20px-top text-center">
                            <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase"><a href=""> H.E. Dr. Mokthar Mejri</a></div>

                        </div>
                    </figcaption>
                </figure>
            </div>
        </div>
        <!-- end team item -->
        <!-- start team item -->
        <div class="row">
            <div class="col-12 col-lg-2 col-md-12 team-block text-left team-style-1 margin-40px-bottom sm-margin-30px-bottom wow fadeInRight" data-wow-delay="0.2s">
                <figure>
                    <div class="team-image sm-width-100">
                        <img src="~/Images/international/t19.png" alt="">
                        <div class="overlay-content text-center d-flex align-items-end justify-content-center">
                            <div class="icon-social-small padding-twelve-all width-100">
                                <span class="text-white-2 text-small d-inline-block m-0">Ambassador At-Large United States of Amerrica </span>>
                                <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                            </div>
                        </div>
                        <div class="team-overlay bg-extra-dark-gray opacity8"></div>
                    </div>
                    <figcaption>
                        <div class="team-member-position margin-20px-top text-center">
                            <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase"><a href="">H.E. Eng .Amjad Said Albakri</a></div>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <!-- end team item -->
            <!-- start team item -->
            <div class="col-12 col-lg-2 col-md-12 team-block text-left team-style-1  sm-margin-30px-bottom wow fadeInRight" data-wow-delay="0.4s">
                <figure>
                    <div class="team-image sm-width-100">
                        <img src="~/Images/international/t20.png" alt="">
                        <div class="overlay-content text-center d-flex align-items-end justify-content-center">
                            <div class="icon-social-small padding-twelve-all width-100">
                                <span class="text-white-2 text-small d-inline-block m-0"> Deputy Ambassador United Sttates of America </span>
                                <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                            </div>
                        </div>
                        <div class="team-overlay bg-extra-dark-gray opacity8"></div>
                    </div>
                    <figcaption>
                        <div class="team-member-position margin-20px-top text-center">
                            <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase"><a href="">H.E.Dr.Amhad Said Albakri</a></div>

                        </div>
                    </figcaption>
                </figure>
            </div>

            <!-- end team item -->
            <!-- start team item -->
            <div class="col-12 col-lg-2 col-md-12 team-block text-left team-style-1 wow fadeInRight" data-wow-delay="0.6s">
                <figure>
                    <div class="team-image sm-width-100">
                        <img src="~/Images/international/t21.png" alt="">
                        <div class="overlay-content text-center d-flex align-items-end justify-content-center">
                            <div class="icon-social-small padding-twelve-all width-100">
                                <span class="text-white-2 text-small d-inline-block m-0">Ambassador At-Large Spain.</span>
                                <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                            </div>
                        </div>
                        <div class="team-overlay bg-extra-dark-gray opacity8"></div>
                    </div>
                    <figcaption>
                        <div class="team-member-position margin-20px-top text-center">
                            <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase"><a href="">H.E. Prince Antonio de Pleguezuelos</a></div>

                        </div>
                    </figcaption>
                </figure>
            </div>
            <div class="col-12 col-lg-2 col-md-12 team-block text-left team-style-1 margin-40px-bottom md-margin-seven-bottom sm-margin-30px-bottom wow fadeInRight">
                <figure>
                    <div class="team-image sm-width-100">
                        <img src="~/Images/international/t22.png" alt="">
                        <div class="overlay-content text-center d-flex align-items-end justify-content-center">
                            <div class="icon-social-small padding-twelve-all width-100">
                                <span class="text-white-2 text-small d-inline-block m-0">Ambassador At-Large Germany</span>
                                <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                            </div>
                        </div>
                        <div class="team-overlay bg-extra-dark-gray opacity8"></div>
                    </div>
                    <figcaption>
                        <div class="team-member-position margin-20px-top text-center">
                            <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase"><a href="">H.E. Dr. Ayham Zoubani</a></div>

                        </div>
                    </figcaption>
                </figure>
            </div>
            <!-- end team item -->
            <!-- start team item -->
            <div class="col-12 col-lg-2 col-md-12 team-block text-left team-style-1 md-margin-seven-bottom margin-40px-bottom sm-margin-30px-bottom wow fadeInRight" data-wow-delay="0.2s">
                <figure>
                    <div class="team-image sm-width-100">
                        <img src="~/Images/international/t23.png" alt="">
                        <div class="overlay-content text-center d-flex align-items-end justify-content-center">
                            <div class="icon-social-small padding-twelve-all width-100">
                                <span class="text-white-2 text-small d-inline-block m-0">Ambassador At-Large Romania</span>
                                <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                            </div>
                        </div>
                        <div class="team-overlay bg-extra-dark-gray opacity8"></div>
                    </div>
                    <figcaption>
                        <div class="team-member-position margin-20px-top text-center">
                            <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase"><a href="">H.E. Dr.Serea Sofita</a></div>

                        </div>
                    </figcaption>
                </figure>
            </div>
            <!-- end team item -->
            <!-- start team item -->
            <div class="col-12 col-lg-2 col-md-12 team-block text-left team-style-1 margin-40px-bottom sm-margin-30px-bottom wow fadeInRight" data-wow-delay="0.4s">
                <figure>
                    <div class="team-image sm-width-100">
                        <img src="~/Images/international/t24.png" alt="">
                        <div class="overlay-content text-center d-flex align-items-end justify-content-center">
                            <div class="icon-social-small padding-twelve-all width-100">
                                <span class="text-white-2 text-small d-inline-block m-0">Ambassador At-Large Canada</span>
                                <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                            </div>
                        </div>
                        <div class="team-overlay bg-extra-dark-gray opacity8"></div>
                    </div>
                    <figcaption>
                        <div class="team-member-position margin-20px-top text-center">
                            <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase"><a href="">H.E. Sania Altaf</a></div>

                        </div>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="row">
            <!-- end team item -->
            <!-- start team item -->
            <div class="col-12 col-lg-2 col-md-12 team-block text-left team-style-1 margin-40px-bottom sm-margin-30px-bottom wow fadeInRight" data-wow-delay="0.6s">
                <figure>
                    <div class="team-image sm-width-100">
                        <img src="~/Images/international/t25.png" alt="">
                        <div class="overlay-content text-center d-flex align-items-end justify-content-center">
                            <div class="icon-social-small padding-twelve-all width-100">
                                <span class="text-white-2 text-small d-inline-block m-0">Ambassador At -large Jordan</span>
                                <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                            </div>
                        </div>
                        <div class="team-overlay bg-extra-dark-gray opacity8"></div>
                    </div>
                    <figcaption>
                        <div class="team-member-position margin-20px-top text-center">
                            <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase"><a href="">H.E. Dr. Hassan Idries Alabbadi </a></div>

                        </div>
                    </figcaption>
                </figure>
            </div>
            <!-- start team item -->
            <!-- end team item -->
            <div class="col-12 col-lg-2 col-md-12 team-block text-left team-style-1 margin-40px-bottom sm-margin-30px-bottom wow fadeInRight">
                <figure>
                    <div class="team-image sm-width-100">
                        <img src="~/Images/international/t26.png" alt="">
                        <div class="overlay-content text-center d-flex align-items-end justify-content-center">
                            <div class="icon-social-small padding-twelve-all width-100">
                                <span class="text-white-2 text-small d-inline-block m-0">Ambassador At-Large Pakistan</span>
                                <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                            </div>
                        </div>
                        <div class="team-overlay bg-extra-dark-gray opacity8"></div>
                    </div>
                    <figcaption>
                        <div class="team-member-position margin-20px-top text-center">
                            <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase"><a href="">H.E. Ghulam Idrees Bangsh</a></div>

                        </div>
                    </figcaption>
                </figure>
            </div>
            <div class="col-12 col-lg-2 col-md-12 team-block text-left team-style-1 margin-40px-bottom sm-margin-30px-bottom wow fadeInRight">
                <figure>
                    <div class="team-image sm-width-100">
                        <img src="~/Images/international/t27.png" alt="">
                        <div class="overlay-content text-center d-flex align-items-end justify-content-center">
                            <div class="icon-social-small padding-twelve-all width-100">
                                <span class="text-white-2 text-small d-inline-block m-0">Ambassador At-Large State of Kuwait</span>
                                <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                            </div>
                        </div>
                        <div class="team-overlay bg-extra-dark-gray opacity8"></div>
                    </div>
                    <figcaption>
                        <div class="team-member-position margin-20px-top text-center">
                            <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase"><a href="">H.E Dr. Abdulredha Dashti</a></div>

                        </div>
                    </figcaption>
                </figure>
            </div>
            <!-- end team item -->
            <!-- start team item -->

            <div class="col-12 col-lg-2 col-md-12 team-block text-left team-style-1 margin-40px-bottom sm-margin-30px-bottom wow fadeInRight" data-wow-delay="0.2s">
                <figure>
                    <div class="team-image sm-width-100">
                        <img src="~/Images/international/t28.png" alt="">
                        <div class="overlay-content text-center d-flex align-items-end justify-content-center">
                            <div class="icon-social-small padding-twelve-all width-100">
                                <span class="text-white-2 text-small d-inline-block m-0">Ambassador At-Large Egypt</span>
                                <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                            </div>
                        </div>
                        <div class="team-overlay bg-extra-dark-gray opacity8"></div>
                    </div>
                    <figcaption>
                        <div class="team-member-position margin-20px-top text-center">
                            <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase"><a href="">Dr. Jehan Mahmoud Hassan Ahmed</a></div>

                        </div>
                    </figcaption>
                </figure>
            </div>
            <!-- end team item -->
            <!-- start team item -->
            <div class="col-12 col-lg-2 col-md-12 team-block text-left team-style-1  sm-margin-30px-bottom wow fadeInRight" data-wow-delay="0.4s">
                <figure>
                    <div class="team-image sm-width-100">
                        <img src="~/Images/international/t29 (1).png" alt="">
                        <div class="overlay-content text-center d-flex align-items-end justify-content-center">
                            <div class="icon-social-small padding-twelve-all width-100">
                                <span class="text-white-2 text-small d-inline-block m-0">Ambassador At-Large Russian Federation</span>

                                <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                            </div>
                        </div>
                        <div class="team-overlay bg-extra-dark-gray opacity8"></div>
                    </div>
                    <figcaption>
                        <div class="team-member-position margin-20px-top text-center">
                            <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase"><a href="">H.E. Dr. Ikvan B.Gerikhanov</a></div>

                        </div>
                    </figcaption>
                </figure>
            </div>
            <!-- end team item -->
            <!-- start team item -->
            <div class="col-12 col-lg-2 col-md-12 team-block text-left team-style-1 wow fadeInRight" data-wow-delay="0.6s">
                <figure>
                    <div class="team-image sm-width-100">
                        <img src="~/Images/international/t30.png" alt="">
                        <div class="overlay-content text-center d-flex align-items-end justify-content-center">
                            <div class="icon-social-small padding-twelve-all width-100">
                                <span class="text-white-2 text-small d-inline-block m-0">Ambassador At-Large Ecuador</span>
                                <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                            </div>
                        </div>
                        <div class="team-overlay bg-extra-dark-gray opacity8"></div>
                    </div>
                    <figcaption>
                        <div class="team-member-position margin-20px-top text-center">
                            <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase"><a href="">H.E. Dr. Torrez Vilma Azucena</a></div>

                        </div>
                    </figcaption>
                </figure>
            </div>
        </div>

        <!-- start team item -->
        <!-- end team item -->
        <div class="row">
            <div class="col-12 col-lg-2 col-md-12 team-block text-left team-style-1 wow fadeInRight" data-wow-delay="0.6s">
                <figure>
                    <div class="team-image sm-width-100">
                        <img src="~/Images/international/t31.png" alt="">
                        <div class="overlay-content text-center d-flex align-items-end justify-content-center">
                            <div class="icon-social-small padding-twelve-all width-100">
                                <span class="text-white-2 text-small d-inline-block m-0"> Ambassador At-Large Venezuela</span>
                                <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                            </div>
                        </div>
                        <div class="team-overlay bg-extra-dark-gray opacity8"></div>
                    </div>
                    <figcaption>
                        <div class="team-member-position margin-20px-top text-center">
                            <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase"><a href="">H.E. Dr. Jorge Enrique Hernandez</a></div>
                            <
                        </div>
                    </figcaption>
                </figure>
            </div>
            <div class="col-12 col-lg-2 col-md-12 team-block text-left team-style-1 wow fadeInRight" data-wow-delay="0.6s">
                <figure>
                    <div class="team-image sm-width-100">
                        <img src="~/Images/international/t33.png" alt="">
                        <div class="overlay-content text-center d-flex align-items-end justify-content-center">
                            <div class="icon-social-small padding-twelve-all width-100">
                                <span class="text-white-2 text-small d-inline-block m-0">Ambassador At-Large Nigeria</span>
                                <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                            </div>
                        </div>
                        <div class="team-overlay bg-extra-dark-gray opacity8"></div>
                    </div>
                    <figcaption>
                        <div class="team-member-position margin-20px-top text-center">
                            <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase"><a href="">H.E. Ossai Ossai Ossai Chimadi</a></div>

                        </div>
                    </figcaption>
                </figure>
            </div>
            <div class="col-12 col-lg-2 col-md-12 team-block text-left team-style-1 wow fadeInRight" data-wow-delay="0.6s">
                <figure>
                    <div class="team-image sm-width-100">
                        <img src="~/Images/international/t34.png" alt="">
                        <div class="overlay-content text-center d-flex align-items-end justify-content-center">
                            <div class="icon-social-small padding-twelve-all width-100">
                                <span class="text-white-2 text-small d-inline-block m-0">Ambassador At-Large Iraq/Kurdistan</span>
                                <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                            </div>
                        </div>
                        <div class="team-overlay bg-extra-dark-gray opacity8"></div>
                    </div>
                    <figcaption>
                        <div class="team-member-position margin-20px-top text-center">
                            <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase"><a href="">H.E. Raja Chroudi</a></div>

                        </div>
                    </figcaption>
                </figure>
            </div>
            <div class="col-12 col-lg-2 col-md-12 team-block text-left team-style-1 wow fadeInRight" data-wow-delay="0.6s">
                <figure>
                    <div class="team-image sm-width-100">
                        <img src="~/Images/international/t35.png" alt="">
                        <div class="overlay-content text-center d-flex align-items-end justify-content-center">
                            <div class="icon-social-small padding-twelve-all width-100">
                                <span class="text-white-2 text-small d-inline-block m-0">Ambassador At-Large -Palestina</span>
                                <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                            </div>
                        </div>
                        <div class="team-overlay bg-extra-dark-gray opacity8"></div>
                    </div>
                    <figcaption>
                        <div class="team-member-position margin-20px-top text-center">
                            <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase"><a href="">H.E. Ana'am Mohammad Ali Shakhshir</a></div>

                        </div>
                    </figcaption>
                </figure>
            </div>
            <div class="col-12 col-lg-2 col-md-12 team-block text-left team-style-1 wow fadeInRight" data-wow-delay="0.6s">
                <figure>
                    <div class="team-image sm-width-100">
                        <img src="~/Images/international/t36.png" alt="">
                        <div class="overlay-content text-center d-flex align-items-end justify-content-center">
                            <div class="icon-social-small padding-twelve-all width-100">
                                <span class="text-white-2 text-small d-inline-block m-0">Ambassador At-Large Republic of Iraq</span>
                                <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                            </div>
                        </div>
                        <div class="team-overlay bg-extra-dark-gray opacity8"></div>
                    </div>
                    <figcaption>
                        <div class="team-member-position margin-20px-top text-center">
                            <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase"><a href="">H.E.Rajaa Abdullah Tawfeeq</a></div>

                        </div>
                    </figcaption>
                </figure>
            </div>
            <div class="col-12 col-lg-2 col-md-12 team-block text-left team-style-1 wow fadeInRight" data-wow-delay="0.6s">
                <figure>
                    <div class="team-image sm-width-100">
                        <img src="~/Images/international/t37.png" alt="">
                        <div class="overlay-content text-center d-flex align-items-end justify-content-center">
                            <div class="icon-social-small padding-twelve-all width-100">
                                <span class="text-white-2 text-small d-inline-block m-0">Ambassador At-Large Republic of the Philippines</span>
                                <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                            </div>
                        </div>
                        <div class="team-overlay bg-extra-dark-gray opacity8"></div>
                    </div>
                    <figcaption>
                        <div class="team-member-position margin-20px-top text-center">
                            <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase"><a href="">H.E. Princess Kasunaya Fely Gahan</a></div>

                        </div>
                    </figcaption>
                </figure>
            </div>
        </div>
        <!-- start team item -->
        <!-- end team item -->
        <div class="row">
            <div class="col-12 col-lg-2 col-md-12 team-block text-left team-style-1 wow fadeInRight" data-wow-delay="0.6s">
                <figure>
                    <div class="team-image sm-width-100">
                        <img src="~/Images/international/t38.png" alt="">
                        <div class="overlay-content text-center d-flex align-items-end justify-content-center">
                            <div class="icon-social-small padding-twelve-all width-100">
                                <span class="text-white-2 text-small d-inline-block m-0">Regional director / middle eastern countries</span>>
                                <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                            </div>
                        </div>
                        <div class="team-overlay bg-extra-dark-gray opacity8"></div>
                    </div>
                    <figcaption>
                        <div class="team-member-position margin-20px-top text-center">
                            <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase"><a href="">H.E. Hon'ble Dr. Diaa Aldeen Mohamad Zibara</a></div>

                        </div>
                    </figcaption>
                </figure>
            </div>
            <!-- start team item -->
            <!-- end team item -->
            <div class="col-12 col-lg-2 col-md-12 team-block text-left team-style-1 wow fadeInRight" data-wow-delay="0.6s">
                <figure>
                    <div class="team-image sm-width-100">
                        <img src="~/Images/international/t39.png" alt="">
                        <div class="overlay-content text-center d-flex align-items-end justify-content-center">
                            <div class="icon-social-small padding-twelve-all width-100">
                                <span class="text-white-2 text-small d-inline-block m-0">Ambassador At- Large for Peace, Human Rights, Space & Next-Generation Technologies</span>
                                <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                            </div>
                        </div>
                        <div class="team-overlay bg-extra-dark-gray opacity8"></div>
                    </div>
                    <figcaption>
                        <div class="team-member-position margin-20px-top text-center">
                            <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase"><a href="">H.E. Hon'ble Christopher Altman</a></div>

                        </div>
                    </figcaption>
                </figure>
            </div>
            <!-- start team item -->
            <!-- end team item -->
            <div class="col-12 col-lg-2 col-md-12 team-block text-left team-style-1 wow fadeInRight" data-wow-delay="0.6s">
                <figure>
                    <div class="team-image sm-width-100">
                        <img src="~/Images/international/t40.png" alt="">
                        <div class="overlay-content text-center d-flex align-items-end justify-content-center">
                            <div class="icon-social-small padding-twelve-all width-100">
                                <span class="text-white-2 text-small d-inline-block m-0">Regional director /Russian Federation</span>
                                <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>

                            </div>
                        </div>
                        <div class="team-overlay bg-extra-dark-gray opacity8"></div>
                    </div>
                    <figcaption>
                        <div class="team-member-position margin-20px-top text-center">
                            <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase"><a href=""> H.E. Hon'ble Dr. Valentina Grebneva</a></div>
                        </div>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>

</section>

